<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fonlow.CommandLineGui.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fonlow.CommandLineGui.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Fonlow.CommandLineGui.Settings>
      <setting name="PluginAllocationMethod" serializeAs="String">
        <!-- Registration for handling multiple command line programs
        or Mono for only 1 program listed in the first item of AsssemblyNames.-->
        <value>Mono</value>
      </setting>
      <setting name="AssemblyNames" serializeAs="Xml">
        <!--Each assembly name should be the file name without extension name such as dll or exe.-->
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <!--The first assembly is to be used if PluginAllocationMethod is Mono.-->
            <string>RobocopyParameters</string>
            <string>MyPlossum</string>
          </ArrayOfString>
        </value>
      </setting>
    </Fonlow.CommandLineGui.Settings>
  </applicationSettings>

  <userSettings>
    <Fonlow.CommandLineGui.Settings>
      <!--This setting is for recording last plugin assembly used, effective only if PluginAllocationMethod is Registration. 
      And the actual value is in AppData of the user profile area.-->
      <setting name="AssemblyNameOfCommand" serializeAs="String">
        <value>RobocopyParameters</value>
      </setting>
    </Fonlow.CommandLineGui.Settings>
  </userSettings>

  <system.diagnostics>
    <sources>
      <!-- The TraceSource used is named Application. TooltipListener is added inside the application-->
      <source name="Application" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--Add more listeners 
          <add name="textWriter" />
          -->
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <!-- You can set the level at which tracing is to occur -->
      <add name="SourceSwitch" value="Warning"/>
      <!-- You can turn tracing off -->
      <!--add name="SourceSwitch" value="Off" -->
    </switches>

    <sharedListeners>
      <!--Add more listeners 
      <add name="textWriter"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="c:\logs\commandlinegui.log"  />
        -->
    </sharedListeners>

    <trace autoflush="true"/>
  </system.diagnostics>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
